.description {
    padding: 80px 0;

    &__subtitle-top {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__undertitle {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 40px;
    }
}
