.hero {
    background-image: url("../../images/mobile/mobile-hero@2x.jpg");
    background-position: center;
    background-size: cover;
    padding: 190px 0;
}

.hero__text {
    font-size: 16px;
    color: rgba(157, 164, 189, 1);
}