.masters {
    padding: 80px 0;
    background-color: #F7F7F7;

    h4 {
        margin-top: 20px;
        margin-bottom: 8px;
    }

    h5 {
        margin-bottom: 30px;
    }

    &__subtitle {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 45px;
    }

    &__list {
        text-align: center;
    }

    &__list-item {
        padding-bottom: 60px;
    }

    &__social-links {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
}