body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.34;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #ffffff;

  border: 1px solid #ff6c00;
  border-radius: 25px;

  padding: 12px 20px;

  cursor: pointer;
}

button:hover {
  color: #ffffff;
  background: #ff6c00;
}

header {
  background-color: grey;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.header-menu {
  display: flex;

  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.34;
  letter-spacing: 0.1em;
}

.logo {
  margin-right: 70px;
}

.header-menu .item {
  display: flex;
  align-items: center;
}

.header-menu .item li {
  display: block;
}

.header-menu .item li .current-page {
  color: #ff6c00;
}

.header-menu .item li a,
.header-menu .contact-item li a {
  padding: 20px 0;
  color: #ffffff;
}

.header-menu .item li a:hover,
.header-menu .contact-item li a:hover {
  color: #ff6c00;
}

.header-menu .item li a:focus,
.header-menu .contact-item li a:focus {
  color: #ff6c00;
}

.header-menu .contact-item {
  display: flex;
  align-items: center;
}

.header-menu .contact-item li {
  display: block;
}

.header-menu .item li {
  margin-right: 40px;
}

.header-menu .item li:last-child {
  margin-right: 0;
}

.header-menu .contact-item li {
  margin-right: 40px;
}

.header-menu .contact-item li:last-child {
  margin-right: 0;
}

.header-menu .contact-item {
  margin-left: auto;
}

.discription {
  display: flex;
}

.left-bar {
  display: flex;
  transform: rotate(270deg);
  width: 130px;
  height: max-content;
}

.left-bar li {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;

  color: #ff6c00;
  margin-right: 40px;
}

.left-bar li:last-child {
  margin-right: 0;
}

.right-bar {
  display: block;
  width: 1170px;
  background-image: url(../images/header-background.svg);
  background-size: auto;
  padding: 270px 525px 200px 100px;
}

.right-bar h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.right-bar h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 85px;

  letter-spacing: 0.05em;

  color: #ffffff;
}

.right-bar p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;

  color: #9da4bd;
}

.about-us {
  display: flex;
  padding: 130px 0;
}

.photos {
  display: flex;
}

.about-us .photos li {
  margin-right: 30px;
}

.about-us .photos li:last-child {
  margin-right: 0px;
}

.about-us-discription {
  display: block;
  align-content: flex-start;
  margin-left: 65px;
  width: 480px;
}

.about-us-discription h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;

  margin-bottom: 20px;
}

.about-us-discription h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #303030;

  margin-bottom: 20px;
}

.about-us-discription h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;

  color: #555555;

  margin-bottom: 20px;
}

.about-us-discription p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;

  letter-spacing: 0.02em;

  color: #555555;

  margin-bottom: 40px;
}

.about-us-discription .button {
  color: #303030;
}

.about-us-discription .button:hover {
  color: #ffffff;
}

.background-price {
  background: #111319 url(../images/price-background.svg);
  background-size: cover;
  padding: 130px 55px;
}

.gradient-1 {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.gradient-2 {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.background-price h3 {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);

  margin-bottom: 20px;
}

.background-price h2 {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #ffffff;

  margin-bottom: 40px;
}

.background-price button {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.price {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.price-section {
  display: flex;
  flex-basis: (100% / 2);
}

.price-left-item {
  margin-left: 40px;
}

.price-right-item {
  margin-right: 40px;
}

.price-left-item li,
.price-right-item li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #9da4bd;

  margin-bottom: 20px;
}

.price-left-item li:last-child,
.price-right-item li:last-child {
  margin-bottom: 30px;
}

.price-left-item li:first-child,
.price-right-item li:first-child {
  margin-top: 30px;
}

.features {
  padding: 100px 0;
  display: flex;
}

.features-left-bar {
  width: 370px;
}

.features-left-bar ul {
  display: flex;
  flex-wrap: wrap;
}

.features-left-bar li {
  width: 170px;
  text-align: center;

  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.05em;

  color: #303030;

  background: #f7f7f7;

  padding: 20px 24px;
}

.features-left-bar li p {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: auto;

  color: #303030;
}

.features-left-bar li {
  margin-right: 30px;
}

.features-left-bar li:first-child {
  margin-bottom: 30px;
}

.features-left-bar li:nth-child(3) {
  margin-bottom: 30px;
}

.features-left-bar li:nth-of-type(2n) {
  margin-top: 30px;
  margin-right: 0px;
}

.features-right-bar {
  text-align: left;
  width: 630px;
  display: block;
  padding-left: 130px;
}

.features-right-bar h3 {
  display: block;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.features-right-bar h2 {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #303030;
}

.features-right-bar p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;

  color: #555555;
}

.masters-container {
  background: #f7f7f7;
}

.masters-container h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
  margin-bottom: 20px;
}

.masters-container h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #303030;

  margin-bottom: 45px;
}

.masters-container .container {
  padding: 130px 0;
}

.masters-container ul {
  display: flex;
  flex-basis: ((100% - 60px) / 3);
}

.masters-container li {
  text-align: center;
  margin-right: 30px;
}

.masters-container li:last-child {
  margin-right: 0;
}

.masters-container li h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: 0.02em;

  color: #303030;
}

.masters-container li p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  letter-spacing: 0.02em;

  color: #ff6c00;
}

.portfolio {
  padding: 130px 0;
}

.portfolio h3 {
  display: block;
  margin-bottom: 45px;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  flex-basis: ((100% - 90px) / 4);
}

.portfolio li {
  margin-right: 30px;
}

.portfolio li:last-child {
  margin-right: 0px;
}
